body {
    width: 30%;
    margin: 0 auto;
}

.container {
    display: flex;
}

.arrow {
    font-size: 5em;
    text-decoration: none;
    vertical-align: middle;
}

.table {
    display: table;
    margin: 0 auto;
}

.header {
    font-size: 2em;
    text-align: center;
}

.row {
    display: table-row;
}

.away, .home {
    display: table-cell;
    padding: 0 2em;
}
